<div id="trabaja">
    <h2>Trabaja en JoinElderly</h2>
    <p>
        Si quieres trabajar con nosotros tan solo tienes que rellenar el formulario que hay en el apartado Contacto y en
        Tema de Consulta seleccionar "Trabaja con Nosostros" o bien puedes enviarnos un correo con tu CV a 
        joinelderly@gmail.com.
    </p>
    
    <h3>Información a los usuarios</h3>
    <p>
        De acuerdo a la Ley Orgánica 15/1999 de 13 de Diciembre, de Protección de Datos de Carácter Personal (LOPD), le informamos que mediante la cumplimentación de los formularios, sus datos personales quedarán incorporados y serán tratados en ficheros de JOINELDERLY S.L ( en adelante, JOINELDERLY), con la finalidad de atender su solicitud de participar en los procesos de selección de personal. JOINELDERLY asegura la confidencialidad de los datos aportados y garantiza que, en ningún caso, serán cedidos para ningún otro uso sin mediar consentimiento previo y expreso de nuestros usuarios. Sólo le pediremos aquellos datos necesarios para la prestación del servicio requerido y únicamente serán empleados para este fin.
    </p>
    <h3>Consentimiento</h3>
    <p>
        Mediante el envío de los formularios entendemos que el usuario presta su consentimiento para que se traten los datos conforme las finalidades previstas en cada formulario. JOINELDERLY no comunicará los datos a terceros salvo en los supuestos legalmente establecidos o autorizados por el interesado.
    </p>
</div>

