<!-- Modal -->
<script type="text/javascript" src="http://51.254.99.211/JoinElderly_project/proyecto/modules/user/view/js/facebook.js"></script>
<div class="modal-header">
    <script type="text/javascript" src="http://51.254.99.211/JoinElderly_project/proyecto/modules/user/view/js/login.js"></script>
    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Acceder</h4>
</div>
<div class="modal-body">
    <form id="login_form" name="login_form" class="form-contact">

        <div class="control-group">
            <input type="text" id="inputUser" name="inputUser" placeholder="Usuario" class="input-block-level" dir="auto" maxlength="100">
        </div>
        <div class="control-group">
            <input type="password" id="inputPass" name="inputPass" placeholder="Contraseña" class="input-block-level" maxlength="100">
        </div>

        <input class="btn btn-primary" type="button" name="submitLog" id="submitLog" value="Enviar" />
    </form>
    <div class="separator"><p>Ó</p></div>
    <div class="social form-contact">

        <ul class="icons log">
            <li>
                <a class="icon rounded fa-facebook" id="fb" href="#"><span class="label">Facebook</span></a>
            </li>

            <li>
                <a class="icon rounded fa-twitter" id="twlogin" href="#"><span class="label">Twitter</span></a>
            </li>


        </ul>

    </div>
    <div class="form-contact reg ">
        <p>¿Aun no te has registrado? Hazlo <a href="/user/alta/" id="linkReg">aquí</a></p>
        <p><a href="/user/recuperar/" id="linkRest">¿Has olvidado tu contraseña?</a></p>
    </div>

    



