.modal-header{
    background-color: #061C33;
    text-align: center;
    padding: 9px;
}

.modal-header h4{
    color:#ffffff;
    margin: 0px;
}

#modalLog form{
    display: inline-block;
    width: 50%;
}

#modalLog .social{
    display: inline-block;
    max-width: 40%;
    vertical-align: top;
    padding-left: 27px;
}

ul.log{
    margin:0px;
}

ul.log li{
    display: inline-block;
    padding: 13px;
}
.modal-body{
    background-color: #e9f2fc;
}
.modal-body .btn{
    float: right;
}

.modal-body .separator{
    display: inline-block;
    min-width: 8%;
    text-align: center;
    color: #858585;
}
.modal-body .form-contact{
    padding-top: 15px;
}
#login_form .btn{
    margin-bottom: 8px;
}



.modal-footer{
    background-color: #061C33;
    color:#ffffff;
    text-align: center;
}

.modal-footer div{
    width: 100%;
}
.modal-body .reg p{
    text-align: center;
    margin-bottom: 1em;
}
.modal-body .reg a{
    font-weight: bold;
    text-decoration: underline;
}

/*----------------Signup------------------*/

.form-row{
    display: table-row;
    width: 100%;

}
.form-row div{
    display: table-cell;
    width: 30%;

    padding: 15px 25px 15px 40px;
}

.form-title{
    text-align: center;
}


/*----------------Restore-Password------------------*/

#restore_form {
    margin-top: 30px;
    width: 60%;
    margin-bottom: 30px;
}

/*---------------Alert Banner----------------*/

#alertbanner {
    position: relative;
    z-index: 1;
}
#alertbanner:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: 'Pulse para ocultar';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 120px;
}
#alertbanner:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
#alertbanner:target {
    display: none;
}
.alertbanner {
    background-color: #0c325a;
    background-image: -webkit-linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.05) 25%,
        hsla(0,0%,0%,.05) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.05) 75%,
        hsla(0,0%,0%,.05));
    background-image: -moz-linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.1) 25%,
        hsla(0,0%,0%,.1) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.1) 75%,
        hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.1) 25%,
        hsla(0,0%,0%,.1) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.1) 75%,
        hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.1) 25%,
        hsla(0,0%,0%,.1) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.1) 75%,
        hsla(0,0%,0%,.1));
    background-image: linear-gradient(135deg, transparent,
        transparent 25%, hsla(0,0%,0%,.1) 25%,
        hsla(0,0%,0%,.1) 50%, transparent 50%,
        transparent 75%, hsla(0,0%,0%,.1) 75%,
        hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
    -webkit-animation: alertbanner 1s ease forwards;
    -moz-animation: alertbanner 1s ease forwards;
    -ms-animation: alertbanner 1s ease forwards;
    -o-animation: alertbanner 1s ease forwards;
    animation: alertbanner 1s ease forwards;
}

.alertbannerErr{
    background-color: #a50000;
}
/* Animation */

@-webkit-keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alertbanner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}

/******************Menu Login*************************/

#menuImg{
    vertical-align: middle;
    margin-right: 5px;

}
#LogProf{
    font-weight: bold;

}

/****************Perfil***************************/

.form-profile-heading {
    font-weight: bold;
    height: 100px;
    font-size: 50px;
}
#submitBtn_user {
    border: 2px solid #fff;
    color: #fff;
    margin-top: 30px;
    padding: auto 20px;
    font-size: 18px;
    font-weight: 700;
    background-color: #061C33;
    width: 80%;
    border-radius: 8px;
}
.form-perfil {
    padding: 10px 20px 10px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.nombre {
    margin-top: 130px;
}
.email {
    margin-top: 130px;
}
img#avatar_user {
    width: 400px;
    height: 400px;
    border: 2px solid #061C33;
    border-radius: 80%;
    color: #061C33;
    position: relative;
    margin-top: -30px;
    margin-bottom: 30px;
}

label.pefil {
    color: black;
}

/**** Dropzone ****/

.izq,.der{
    width: 25%;
}
.der{
    float: right;
}
.center{
    text-align: center;
    width: 49%;
}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    background: #ddd;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
}

form {
    display: block;
    margin: 20px auto;
    background: #eee;
    border-radius: 10px;
    padding: 15px
}

#progress {
    position: relative;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

#bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

#percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

.msg {
    color: white;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}

.msg_ok {
    background: #589D05;
}

.msg_error {
    background: red;
}
