/* Moving Boxes demo CSS */

* { 
    margin: 0; 
    padding: 0; 
}

/* Moving Boxes title image wrapper */
#title { 
    text-align: center; 
}
#title img { 
    border: 0; 
}

/* Panel images */
.mb-inside img { width: 100%; }

/* height of the placeholder until image completely loads - needed for
   webkit browsers, add this only if you don't want the height animation
   on startup. 326px measures the height of the current image when enlarged 
*/
#slider-two .current img { /* height: 326px; */ }

/* Panel links */
.mb-inside a { color: #333; text-decoration: none; border-bottom: 1px dotted #ccc; }
.mb-inside a:hover { border-bottom: 1px solid #999; }

/* Add/remove panels buttons */
.buttons { padding: 5px 10px; text-align: center; }

/* Direct link styling */
.dlinks { 
    text-align: center;
    margin: 0 0 20px 0;
}
.dlinks * {
    vertical-align: middle;
}

#slider { 
    width: 800px; 
}

#slider li { 
    width: 250px; 
}
