header.major{
    background-color: #fff;
        border:solid 1px rgba(144, 144, 144, 0.25);
         border-radius: 5px;
}
.ofertas{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
.ofertas .of{
    border:solid 1px rgba(144, 144, 144, 0.25);
    border-radius: 5px;

    width: 100%;
    text-align: center;
    background-color: #fff;
    margin-top: 4px;
}
.ofertas .of:first-child{
    margin-top:0;
}
.ofertas .of:hover{
    border:solid 1px rgba(144, 144, 144, 1);

    -webkit-box-shadow: 4px 4px 5px 0px rgba(144, 144, 144, 0.5);
    -moz-box-shadow:    4px 4px 5px 0px rgba(144, 144, 144, 0.5);
    box-shadow:         4px 4px 5px 0px rgba(144, 144, 144, 0.5);
}
.ofertas .of:hover .desc{
    text-decoration: underline;
    font-style: italic;
}

.oferta_content{
    font-size: 1.5em;
}
.oferta_title{
    background-color: #061C33;
    color:#f5f5f5;
    font-size: 1.8em;
    margin: 1em;
    padding: 1em 1em 1em 1em;
}

.gm-style-iw {
    text-align: center;
    top: 15px !important;
    left: 0 !important;
    background-color: #e9f2fc;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px;
}
#mapholder{
    border:solid 1px rgba(144, 144, 144, 0.25);
    border-radius: 5px;
    width: 98%;
    height: 300px;
    display: inline-block;
}
@media(min-device-width:768px){

    #mapholder{
        width: 60%;
        height: 650px;
    }

}
.desc{
    font-weight: bold;
    font-size: 1.3em;

}