.ajaxLoader {
    display: none;
}

.form-contact,.contacto {
    width: 80%;
    padding: 10px 20px 10px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.redsocial {
    margin: 1em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: bold;
}

.gmail {
    width: 47.6563px;
    height: 47.6563px;
    position: relative;
    vertical-align: baseline;
}

.correogmail {
    margin: 1em;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: 15px; 
}
body{
    background-color: #e9f2fc;
}


